[submodule "core/deps/pffft"]
	path = core/deps/pffft
	url = https://github.com/cosmorama-space/pffft.git
[submodule "core/deps/mysofa"]
	path = core/deps/mysofa
	url = https://github.com/hoene/libmysofa.git
[submodule "core/deps/zlib"]
	path = core/deps/zlib
	url = https://github.com/madler/zlib
